!!!
html
	head
		title Systemu IRIS
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.header
			.logo 
				h1 System IRIS
			.infoUser Zalogowany: #{currentUser.login}
				a(href='logout') Wyloguj
		.container
			.lnav
				ul
					li
						a(href=dir_host + '/identify') Ustal tożsamość
					li
						a(href=dir_host + '/criminals') Baza przestępców
			.content!= body
		.footer 
			p @copyright Rafał Sarzyński 
			p Dyplomowy projekt inżynierski